<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimi.cn.mapper.BaseInfoMapper">
    <resultMap id="BaseResultMap" type="com.yimi.cn.model.BaseInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="hidden" jdbcType="INTEGER" property="hidden"/>
        <result column="cp_id" jdbcType="INTEGER" property="cpId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, type, content, hidden, cp_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.yimi.cn.model.BaseInfo">
    insert into base_info (id, type, content, 
      hidden, cp_id)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{hidden,jdbcType=INTEGER}, #{cpId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.yimi.cn.model.BaseInfo">
        insert into base_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="hidden != null">
                hidden,
            </if>
            <if test="cpId != null">
                cp_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="hidden != null">
                #{hidden,jdbcType=INTEGER},
            </if>
            <if test="cpId != null">
                #{cpId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yimi.cn.model.BaseInfo">
        update base_info
        <set>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="hidden != null">
                hidden = #{hidden,jdbcType=INTEGER},
            </if>
            <if test="cpId != null">
                cp_id = #{cpId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yimi.cn.model.BaseInfo">
    update base_info
    set type = #{type,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      hidden = #{hidden,jdbcType=INTEGER},
      cp_id = #{cpId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_info
        where type = #{type,jdbcType=INTEGER}
    </select>

    <select id="findBaseInfoListByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_info
        where type = #{type,jdbcType=INTEGER} order by id desc
    </select>
    <select id="findBaseInfoList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_info
        where type = #{type,jdbcType=INTEGER} and cp_id = #{id,jdbcType=INTEGER}
    </select>

    <select id="findBaseInfoOnType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from base_info
        where type = #{type,jdbcType=INTEGER} and id = #{id,jdbcType=INTEGER}
    </select>


</mapper>