<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimi.cn.mapper.NewsContentMapper">
  <resultMap id="BaseResultMap" type="com.yimi.cn.model.NewsContent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="is_top" jdbcType="INTEGER" property="isTop" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yimi.cn.model.NewsContent">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, creat_time, is_top, type
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yimi.cn.model.NewsContent">
    insert into news_content (id, title, creat_time,
    is_top, type, content
    )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP},
    #{isTop,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.yimi.cn.model.NewsContent">
    insert into news_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="isTop != null">
        is_top,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null">
        #{isTop,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yimi.cn.model.NewsContent">
    update news_content
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isTop != null">
        is_top = #{isTop,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yimi.cn.model.NewsContent">
    update news_content
    set title = #{title,jdbcType=VARCHAR},
    creat_time = #{creatTime,jdbcType=TIMESTAMP},
    is_top = #{isTop,jdbcType=INTEGER},
    type = #{type,jdbcType=INTEGER},
    content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yimi.cn.model.NewsContent">
    update news_content
    set title = #{title,jdbcType=VARCHAR},
    creat_time = #{creatTime,jdbcType=TIMESTAMP},
    is_top = #{isTop,jdbcType=INTEGER},
    type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findAllNewContent" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news_content
    where type = #{type,jdbcType=INTEGER}
    order by creat_time desc
  </select>

  <select id="getTeamsInfoByType" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news_content
    where type = #{type,jdbcType=INTEGER}
  </select>

  <select id="findAllNewContentByPage" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news_content
    where type = #{type,jdbcType=INTEGER}
    order by creat_time desc limit #{start},#{end}
  </select>

  <select id="getTotalRows" resultType="Integer">
    select count(*) from news_content   where type = #{type,jdbcType=INTEGER}
  </select>

  <select id="getContentNameOnly" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from news_content
    where type = #{type,jdbcType=INTEGER} order by creat_time desc
  </select>

  <select id="findNewContentByType" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from news_content
    where title = #{id} and type =#{type}

  </select>

  <delete id="deleteByPrimaryKeyType">
      delete from news_content
    where title = #{id} and type = #{type}
  </delete>
</mapper>