<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap 101 Template</title>
    <link href="/resource/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>

<script type="text/javascript">

    console.log('Websocket supported');
    socket = new WebSocket('ws://localhost:8090//websocket');

    console.log('Connection attempted');

    socket.onopen = function () {
        console.log('Connection open!');
        setConnected(true);
    }

    socket.onclose = function () {
        console.log('Disconnecting connection');
    }

    socket.onmessage = function (evt) {
        var received_msg = evt.data;
        console.log(received_msg);
        console.log('message received!');
        showMessage(received_msg);
    }


</script>
<body>
<div class="container">


    <h1>WEB SOCKET</h1>
</div>
<script src="/resource/js/jquery.js"></script>
</body>
</html>